.dashboard{
    margin: 40px 182px 74.5px 181px;
}
h1{
    
padding-left: 182px;

}


@media only screen and (max-width: 1024px) {
    .dashboard{
        margin: 40px 24px 12px 18px;
    }
    .popUp{
        position: absolute;
        margin: auto;
        left: 20px;
        top: 150px;
        height: 400px;
        width: 320px;
        background-color: #fff;
    }
 }